/* style product html */

/* Universal Selector */

* {
  background-color: rgb(96, 178, 189);
}

/* Element Selectors */

footer h6 a {
  text-decoration: none;
}
/* Class Selectors */

.clearance {
  color: red;
  text-decoration: line-through;
}

.boldit {
  font-weight: bolder;
}

/* Unique Identifier Selectors */

#buynow {
  font-weight: bolder;
  color: red;
}

#joker {
  color: blue;
}

#theft {
  font-size: 8px;
  color: red;
}
