/* Universal Selector */
* {
  background-color: rgb(240, 249, 151);
}
.headImg {
  display: flex;
  justify-content: start;
  width: 120px;
  height: 70px;
  margin-left: 10px;
}
.title {
  width: 320px;
  height: 180px;
}
nav {
  display: flex;
  justify-content: end;
  margin-right: 10px;
  margin-top: -220px;
  margin-left: 200px;
}
header {
  height: 300px;
  border: 2px solid black;
}
.dropdown-menu .dropdown-item:hover {
  cursor: crosshair;
  background-color: aquamarine;
}
.dropdown-item:hover {
  justify-content: right;
}
/* Element Selectors */
/* Class Selectors */
/* Unique Identifier Selectors */